{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load widget_tweaks %}

{% load tz %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=e85c72cb-b9ca-4887-838f-b0cf38d74df9" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
                center: [57.75104754689413, 27.72273301692173],
                zoom: 11
            }, {
                searchControlProvider: 'yandex#search'
            });

        var myPolyline = new ymaps.Polyline({{ route_line }}
    , {
                // Описываем свойства геообъекта.
                // Содержимое балуна.
                balloonContent: "Маршрут"
            }, {
                // Задаем опции геообъекта.
                // Отключаем кнопку закрытия балуна.
                balloonCloseButton: false,
                // Цвет линии.
                strokeColor: "#000000",
                // Ширина линии.
                strokeWidth: 4,
                // Коэффициент прозрачности.
                strokeOpacity: 0.5
            });

        // Добавляем линии на карту.
        myMap.geoObjects
            .add(myPolyline);
    }

</script>

{% if message %}
  <p>{{ message }} <a class="btn btn-primary" href="/park/management" role="button">Вернуться</a></p>
{% else %}
  {# Display a form #}
  <form action="" method="post" class="form">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">

      {% if field.name == 'companies' %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <select name=company class="form-control" required id="company_id" onselect="">
          <option value=“0”>------</option>
        {% for c in companies %}
        <option value=“{{ c.pk }}” {% if c.id == company.id %} selected {% endif %}>{{ c.name }}</option>
        {% endfor %}
        </select>

      {% elif field.name == 'vehicles' %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <select name="vehicle" class="form-control" onselect="">
          <option value=“0”>------</option>
        {% for v in vehicles %}
        <option value=“{{ v.pk }}” {% if v.id == vehicle.id %} selected {% endif %}>{{ v.name }}</option>
        {% endfor %}
        </select>

      {% elif field.name == 'travels' %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <select name="travel" class="form-control" onselect="">
          <option value=“0”>------</option>
        {% for t in travels %}
        <option value=“{{ t.pk }}” {% if t.id == travel.id %} selected {% endif %}>{{ t.name }}</option>
        {% endfor %}
        </select>
      {% endif %}

      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
      </div>
    {% endfor %}

    {% bootstrap_button button_type="submit" content="OK" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}

  </form>

  <div id="map" style="width:1200px; height:600px"></div>

{% endif %}