{% extends 'base.html' %}

{% block title %}Предприятия{% endblock %}

{% block content %}
    <table>
        {% for enterprise in enterprises %}
            <tr>
                <td width="50%">
                    <p><a href="{{ enterprise.get_absolute_url }}">{{ enterprise }}</a></p>
                </td>
                <td width="25%">
                    <p><a href="./report/1/{{ enterprise.id }}"> Отчёт о пробеге по дням</a></p>
                </td>
                <td width="25%">
                    <p><a href="./report/2/{{ enterprise.id }}"> Отчёт о пробеге по неделям</a></p>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}