{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load widget_tweaks %}

{% load tz %}

{% if message %}
  <p>{{ message }} <a class="btn btn-primary" href="/park/management" role="button">Вернуться</a></p>
{% else %}
  {# Display a form #}
  <form action="" method="post" class="form">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>

      {% if field.name == 'buy_datetime' %}
        {{ field|add_class:'form-control' }}
      {% else %}
        {{ field|add_class:'form-control' }}
      {% endif %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
      </div>
    {% endfor %}

    {% bootstrap_button button_type="submit" content="OK" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}

  </form>
  <p><a class="btn btn-primary" href="/park/delete_vehicle/{{ vehicle.id }}" role="button">Удалить</a></p>
{% endif %}